<%= render 'head' %>

<div class="box is-padding-less">
  <% if @requests.blank? %>
    <%= render partial: 'gift_content' %>
  <% else %>
    <%= render partial: 'request', collection: @requests, as: :request %>
  <% end %>
</div>

<%= paginate @requests, window: 1 %>
