<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light">
  <head>
    <%= render 'head_title' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <script
      type="text/javascript"
      charset="UTF-8"
      src="https://wx.gtimg.com/pay_h5/goldplan/js/jgoldplan-1.0.0.js"
      id="goldplan_script"
      async
    ></script>
    <%= stylesheet_link_tag 'phone', media: 'all', 'data-turbo-track': 'reload', as: 'style' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
<script>
  let mchData = {
    action: 'onIframeReady',
    displayStyle: 'SHOW_CUSTOM_PAGE',
    height: 600
  }
  let postData = JSON.stringify(mchData)
  const goldplan_script = document.getElementById('goldplan_script')

  goldplan_script.addEventListener('load', event => {
    parent.postMessage(postData, 'https://payapp.weixin.qq.com')
  })
</script>