<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light">
  <head>
    <%= render 'head_title' %>
    <script type="text/javascript" charset="UTF-8" src="https://wx.gtimg.com/pay_h5/goldplan/js/jgoldplan-1.0.0.js"></script>
    <style>
      .has-page-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
<script>
  let mchData = {
    action: 'onIframeReady',
    displayStyle: 'SHOW_CUSTOM_PAGE',
    height: 600
  }
  let postData = JSON.stringify(mchData)

  document.addEventListener('DOMContentLoaded', event => {
    parent.postMessage(postData, 'https://payapp.weixin.qq.com')
  })

  let jumpData = {
    action: 'jumpOut',
    jumpOutUrl: '<%= @order %>'
  }
  let jumpPost = JSON.stringify(jumpData)
  const button = document.getElementById('jumpBtn')
  button.addEventListener('click', () => {
    parent.postMessage(jumpPost, 'https://payapp.weixin.qq.com')
  })
</script>