<%= render layout: 'show_layout', locals: { model: @program_agency } do %>
  <div>
    <dt class="text-right"><%= Wechat::Agency.human_attribute_name(:qrcode) %></dt>
    <dd><%= image_tag @program_agency.qrcode, class: 'image is-128x128' if @program_agency.qrcode.attached? %></dd>
  </div>
<% end %>
