<div class="field">
  <div class="field-label is-normal">
    <label class="label"><%= ef.object.name %></label>
    <span><%= ef.object.note %></span>
  </div>
  <%= ef.text_field :mapping, label: nil %>
</div>
