<%= button_to({ controller: 'datum/admin/table_lists', action: 'find', data_list_id: 'RequestDailyExport', **params.permit('created_at-gte', 'created_at-lte') }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'file-excel' %>
  <span><%= t('.export') %></span>
<% end %>
