<div
  data-controller="douyin-program"
  data-douyin-program-direct-value="true"
  data-douyin-program-url-value="/pages/login/index"
  data-douyin-program-data-value="<%= { state: state }.compact.to_json %>"
  class="has-page-centered"
>
  <p style="color: darkgray">登录信息失效，等待授权</p>
  <p><%= state %></p>
</div>
